@font-face {
    font-family: 'HouseSlant';
    src: local('House Slant Regular'), local('HouseSlant-Regular'),
        url('HouseSlant-Regular.woff2') format('woff2'),
        url('HouseSlant-Regular.woff') format('woff'),
        url('HouseSlant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

